.App {
  display: flex;
  color: rgb(224, 224, 235);
  text-align: center;
  justify-content: center;
  align-items:flex-end;
  height: 30vh;
  width: 100vw;
  background-color: rgb(121, 148, 236);
  padding: 10px; 
}
.App1 {
  display: flex; 
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  width: 100vw;
  background-color: rgb(121, 148, 236);
  padding: 40px; 
}  
.message_button {
  align-items: center;
  margin: 10px;
  border-radius: 10px;
   text-align: center;
}
.email_button{
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.message_button:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.email_button:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.message_comp input{
  flex-wrap: wrap;
  height: auto;
  width:200px;
  text-align: center;
}
.message_comp{
  margin: 10px;
  width: 30%;
  text-align: center;
}
.email_comp input{
  flex-wrap: wrap;
  height: auto;
  width:200px;
  text-align: center;
}
.email_comp{
  margin: 10px;
  width: 30%;
  text-align: center;
}
 